extends layout

block content

	h1=title


	if messages
	table
		caption Potential errors for #{messages.errors[0].url}
		tr 
			th URL
		
			th HTML
		
			th WCAG
		
			th Level
 
			th Message

		each message in messages.errors
			tr
				td=message.url 
				td=message.html 
				td=message.wcag 
				td=message.level 
				td=message.message
	

	p
		a(href="/") Search again